<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SitecoreIdConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SitecoreIdConverter.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Auto</value>
            </setting>
        </SitecoreIdConverter.Properties.Settings>
    </userSettings>
    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add name="configTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="configTrace.log" />
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>
